In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Padang,ID,-0.9492,100.3543,86.05,64,62,3.80,broken clouds,2022-04-14 02:57:07
1,1,Geraldton,AU,-28.7667,114.6000,75.61,57,0,20.71,clear sky,2022-04-14 02:57:07
2,2,Port Hardy,CA,50.6996,-127.4199,44.60,70,75,11.50,broken clouds,2022-04-14 02:53:17
3,3,Dikson,RU,73.5069,80.5464,21.38,96,98,8.50,overcast clouds,2022-04-14 02:57:08
4,4,Hobart,AU,-42.8794,147.3294,66.22,57,75,8.05,broken clouds,2022-04-14 02:57:08

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Padang,ID,-0.9492,100.3543,86.05,64,62,3.80,broken clouds,2022-04-14 02:57:07
1,1,Geraldton,AU,-28.7667,114.6000,75.61,57,0,20.71,clear sky,2022-04-14 02:57:07
7,7,Cockburn Town,TC,21.4612,-71.1419,77.14,80,9,26.42,clear sky,2022-04-14 02:57:10
8,8,Mecca,SA,21.4267,39.8261,79.00,45,26,2.06,scattered clouds,2022-04-14 02:56:56
10,10,Mayo,US,38.8876,-76.5119,77.88,64,0,9.22,clear sky,2022-04-14 02:54:15
15,15,Isangel,VU,-19.5500,169.2667,84.02,71,12,6.78,few clouds,2022-04-14 02:57:12
22,22,Nizwa,OM,22.9333,57.5333,86.65,14,86,1.99,overcast clouds,2022-04-14 02:57:14
23,23,Atuona,PF,-9.8000,-139.0333,79.41,77,47,17.27,scattered clouds,2022-04-14 02:57:15
24,24,Rikitea,PF,-23.1203,-134.9692,78.40,70,10,19.10,light rain,2022-04-14 02:57:15
25,25,Vaini,TO,-21.2000,-175.2000,82.56,94,40,10.36,scattered clouds,2022-04-14 02:57:16

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                202
City                   202
Country                202
Lat                    202
Lng                    202
Max Temp               202
Humidity               202
Cloudiness             202
Wind Speed             202
Current Description    202
Date                   202
dtype: int64

In [11]:
preferred_cities_df.count()

City_ID                202
City                   202
Country                202
Lat                    202
Lng                    202
Max Temp               202
Humidity               202
Cloudiness             202
Wind Speed             202
Current Description    202
Date                   202
dtype: int64

In [12]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Padang,ID,-0.9492,100.3543,86.05,64,62,3.80,broken clouds,2022-04-14 02:57:07
1,1,Geraldton,AU,-28.7667,114.6000,75.61,57,0,20.71,clear sky,2022-04-14 02:57:07
7,7,Cockburn Town,TC,21.4612,-71.1419,77.14,80,9,26.42,clear sky,2022-04-14 02:57:10
8,8,Mecca,SA,21.4267,39.8261,79.00,45,26,2.06,scattered clouds,2022-04-14 02:56:56
10,10,Mayo,US,38.8876,-76.5119,77.88,64,0,9.22,clear sky,2022-04-14 02:54:15
...,...,...,...,...,...,...,...,...,...,...,...
717,717,Zaraza,VE,9.3503,-65.3245,82.54,58,55,7.83,broken clouds,2022-04-14 03:02:00
726,726,Guarapari,BR,-20.6667,-40.4975,76.89,92,95,6.35,overcast clouds,2022-04-14 03:02:04
727,727,Gamba,GA,-2.6500,10.0000,76.17,91,100,2.24,overcast clouds,2022-04-14 03:02:04
729,729,West Bay,KY,19.3667,-81.4167,80.67,85,20,5.75,few clouds,2022-04-14 03:02:05
731,731,Karachi,PK,24.9056,67.0822,79.57,72,0,11.34,clear sky,2022-04-14 03:01:54

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Padang,ID,86.05,broken clouds,-0.9492,100.3543,
1,Geraldton,AU,75.61,clear sky,-28.7667,114.6000,
7,Cockburn Town,TC,77.14,clear sky,21.4612,-71.1419,
8,Mecca,SA,79.00,scattered clouds,21.4267,39.8261,
10,Mayo,US,77.88,clear sky,38.8876,-76.5119,
15,Isangel,VU,84.02,few clouds,-19.5500,169.2667,
22,Nizwa,OM,86.65,overcast clouds,22.9333,57.5333,
23,Atuona,PF,79.41,scattered clouds,-9.8000,-139.0333,
24,Rikitea,PF,78.40,light rain,-23.1203,-134.9692,
25,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,

In [30]:
# 6a. Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Padang,ID,86.05,broken clouds,-0.9492,100.3543,Mercure Padang
1,Geraldton,AU,75.61,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
7,Cockburn Town,TC,77.14,clear sky,21.4612,-71.1419,Osprey Beach Hotel
8,Mecca,SA,79.00,scattered clouds,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
10,Mayo,US,77.88,clear sky,38.8876,-76.5119,Resorts Resource Group International

In [32]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))